<?xml version="1.0"?>
<launch>
    <arg name="robot_ns" default="/robot_0"/>
    <arg name="rate" default="100"/>
    <arg name="use_vive" default="false"/>
    <arg name="use_gazebo" default="false"/>

    <node pkg="kinova_optimization" type="relaxed_ik_rust.py"  name="relaxed_ik" output="screen">
        <param name="rate" type="int" value="$(arg rate)" />
        <remap from="/ee_pose_goals" to="/relaxed_ik/ee_pose_goals" />
        <remap from="/joint_angle_solutions" to="/relaxed_ik/joint_angle_solutions" />
    </node>

    <!-- <node  name="electric_gripper_controller_spawner_stopped"
            pkg="controller_manager" type="controller_manager" respawn="false" output="screen"
            ns="robot" args="spawn electric_gripper_controller"/>

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen">
            <remap from="joint_states" to="robot/joint_states" />
    </node>

    <node name="sawyer_control" pkg="ros_server" type="sawyer_control_gazebo.py" output="screen" >
    </node> -->

</launch>